<nav class="breadcrumbs" aria-label="Breadcrumb"></nav>
<ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="/" itemprop="item"><span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1" />
    </li>
    {% if page.url != "/" %}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{{ page.url }}" itemprop="item"><span itemprop="name">{{ page.title }}</span></a>
        <meta itemprop="position" content="2" />
    </li>
    {% endif %}
</ol>
</nav>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://quraniciq.com/"
    },
    {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.title }}",
        "item": "https://quraniciq.com{{ page.url }}"
    }]
}
</script>