---
layout: layouts/base.njk
title: Islamic Knowledge Blog
description: Explore comprehensive articles about Quran learning, Tajweed mastery, Islamic teachings, and spiritual guidance
keywords: Islamic blog, Quran learning articles, Tajweed guides, Islamic education, Quran memorization tips
permalink: /blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html
pagination:
  data: collections.posts
  size: 9
  alias: posts
---

<!-- Blog Grid -->
<div class="blog-grid">
    {% for post in posts %}
    <article class="blog-card" data-category="{{ post.data.category | slug }}">
        <div class="blog-image">
            {% if post.data.icon %}
            <i class="{{ post.data.icon }}"></i>
            {% else %}
            <i class="fas fa-book-quran"></i>
            {% endif %}
        </div>
        <div class="blog-content">
            <div class="blog-meta">
                <span class="blog-category">{{ post.data.category }}</span>
                <span><i class="fas fa-calendar"></i> {{ post.data.date | dateFormat }}</span>
            </div>
            <h3 class="blog-title">
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h3>
            <p class="blog-excerpt">{{ post.data.description or (post.templateContent | striptags | excerpt) }}</p>
            <a href="{{ post.url }}" class="blog-read-more">Read Complete Guide <i class="fas fa-arrow-right"></i></a>
        </div>
    </article>
    {% endfor %}
</div>

<!-- Pagination -->
{% if pagination.pages.length > 1 %}
<nav class="pagination">
    {% if pagination.previousPageHref %}
    <a href="{{ pagination.previousPageHref }}" class="pagination-prev">
        <i class="fas fa-arrow-left"></i> Previous
    </a>
    {% endif %}
    
    <span class="pagination-info">
        Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}
    </span>
    
    {% if pagination.nextPageHref %}
    <a href="{{ pagination.nextPageHref }}" class="pagination-next">
        Next <i class="fas fa-arrow-right"></i>
    </a>
    {% endif %}
</nav>
{% endif %}

<div class="tag-cloud" id="tagCloud">
    <a href="/blog/" class="tag {% if page.url == '/blog/' %}active{% endif %}">All Categories</a>
    {% for category in collections.categories %}
        <a href="{{ '/blog/category/' | url }}{{ category | slug }}/" class="tag {% if page.url == '/blog/category/' + (category | slug) + '/' %}active{% endif %}">{{ category }}</a>
    {% endfor %}
</div>
