---
pagination:
  data: collections.tag
  size: 1
  alias: tag
  filter: tag => tag && tag !== "all"
permalink: "/blog/tag/{{ tag }}/index.html"
layout: layouts/tag.njk
eleventyComputed:
  title: "Posts tagged with '{{ tag }}'"
---
